In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [17]:
import psycopg2 as pg2

conn=pg2.connect(database="test_db",	# DB이름
                 host="",		# IP
                 user="testuser",	# 사용자 이름
                 password="",	# 비밀번호
                 port="5432")		# posgresql 포트번호(=5432)
        
cur = conn.cursor() # cursor 생성

OperationalError: connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

In [10]:
cur.execute("CREATE TABLE Fruits (id INTEGER, date DATE, name VARCHAR(80))")

In [11]:
conn.commit()

In [12]:
cur.execute("INSERT INTO Fruits VALUES(1, '2022-08-10', 'orange')")
cur.execute("INSERT INTO Fruits VALUES(1, '2022-08-13', 'banana')")
cur.execute("INSERT INTO Fruits VALUES(1, '2022-08-15', 'cherry')")
conn.commit()

In [14]:
import pandas as pd

In [13]:
cur.execute("SELECT * FROM Fruits;")

In [15]:
pd.DataFrame(cur.fetchall())

   0           1       2
0  1  2022-08-10  orange
1  1  2022-08-13  banana
2  1  2022-08-15  cherry

In [16]:
cur.close()
conn.close()